<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredients Detalis</title>
    <link rel="stylesheet" href="../../../public/css/layout.css">
    <link rel="stylesheet" href="../../../public/css/base.css">
    <link rel="stylesheet" href="../../../public/css/loading.css">
    <link rel="stylesheet" href="../../../public/css/details.css">
    <link rel="stylesheet" href="../../../public/css/modules.css">
</head>
<div id="load"></div>

<body>
    <header>
        <%- include('./header') %>
    </header>

    <!-- <div class="wrapper wrapper--high">
        <div class="pie spinner-left"></div>
        <div class="pie spinner"></div>
        
        <div class="mask"></div>
        <div class="mask-right"></div>
        
        <div class="content">!</div>
    </div> -->

    <main style="margin-top: 80px;" id="main1">


        <div id="saltShaker" style="background-image: url(../../../public/images/salt-shaker.png);"></div>
        <div id="salt" style="background-image: url(../../../public/images/salt.png);"></div>
        <div id="saltPile" style="background-image: url(../../../public/images/saltPile.png);"></div>

        <div id="content">
            <div id="firstSect">

                <div id="skew"></div>
                <div id="skew2"></div>

                <div>
                    <h2><%=recipeResults[0].title%></h2>

                    <div style="display: flex;">


                        <h3>Ready In Min:<%=recipeResults[0].readyInMinutes%> <br> Score:
                            <%=recipeResults[0].spoonacularScore%></h3> <br>



                    </div>


                </div>


                <img src="<%=recipeResults[0].image%>" alt="" class="preview-img">


            </div>

            <div id="firePlace">
                <div id="campfire">
                    <div id="logs">
                        <div></div>
                        <div></div>
                    </div>
                    <div id="flames">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>

            <div id="summary">
                <h2 style="margin: 60px 0;">Summary</h2>
                <p><%- recipeResults[0].summary%></p>

            </div>


            <div id="ingr">
                <div id="skew3"></div>

                <h2 style="text-align: center;margin: 60px 0">Required Ingredients</h2>
                <% recipeResults[2].forEach(recipe=>{ %>
                <div class="smolcont">
                    <div class="smolim"
                        style="width: 80px;height: 60px;background-image: url(<%=recipe.smallImage%>);background-position: center;background-repeat: no-repeat;background-size: contain;">
                    </div>
                    <!-- <img style="width: 80px;height: 60px;" src="<%=recipe.smallImage%>" alt="" class="smolim"> -->
                    <p class="smolium line" onclick="myFunction()"><%= recipe.OriginalString%></p>
                </div>

                <% }) %>
            </div>

            <div style="width: 70%; padding: 60px 0;margin: 150px auto 60px;">
                <h2 style="text-align: center;">Preparing Steps</h2>
                <div>

                    <% recipeResults[1].forEach(recipe=>{ %>
                    <% recipe.forEach(v=>{ %>
                    <!-- <p class="step line"><%=v.stepNumber%>- <%= v.stepDetails%></p> <br> -->

                    <div>
                        <input type="checkbox" name="my-checkbox" id="<%=v.stepNumber%>">
                        <label class="step line" for="<%=v.stepNumber%>"><%=v.stepNumber%>- <%= v.stepDetails%></label>
                    </div>
                    <br>
                    <% }) %>
                    <% }) %>

                    <button name="checkbox" id="steev" onclick="uncheckAll()">Do It Again</button>

                </div>

            </div>

            <div id="weee">
                <div id="wheatL"></div>
                <div id="wheatR"></div>
            </div>

        </div>

    </main>

    <div id="main2">
        <section class="recipe-overview">
            <section class="carousel">
                <img class="carousel__image carousel__image--current" src="<%=recipeResults[0].image%>" alt="Carousel Image">
            </section>
    
            <header class="recipe">
                <h1 class="recipe__title"><%=recipeResults[0].title%></h1>
                <span class="recipe__info">4 Servings</span>
                <span class="recipe__info"><%=recipeResults[0].readyInMinutes%>min</span>
                <p class="recipe__description"><%- recipeResults[0].summary%></p>
            </header>
        </section>
    
        <div class="recipe-details-wrapper">
            <section class="recipe-details">
                <svg class="recipe__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M15.5,21L14,8H16.23L15.1,3.46L16.84,3L18.09,8H22L20.5,21H15.5M5,11H10A3,3 0 0,1 13,14H2A3,3 0 0,1 5,11M13,18A3,3 0 0,1 10,21H5A3,3 0 0,1 2,18H13M3,15H8L9.5,16.5L11,15H12A1,1 0 0,1 13,16A1,1 0 0,1 12,17H3A1,1 0 0,1 2,16A1,1 0 0,1 3,15Z" />
                </svg>
    
                <h2 class="ingredients-title">Ingredients</h2>
                <ul class="ingredients">
                    <% recipeResults[2].forEach(recipe=>{ %> 
                        <li class="ingredient"><%= recipe.OriginalString%></li>
                    <% }) %>
                </ul>
                <br>
                <br>
                <div style="position: relative;">
                    <img id="icon" src="https://img.icons8.com/ios-filled/50/000000/open-book.png"/>
                    <h2 class="ingredients-title">Steps</h2>
                    <ul class="ingredients">
                        <% recipeResults[1].forEach(recipe=>{ %>
                            <% recipe.forEach(v=>{ %> 
                                <li class="ingredient"><%=v.stepNumber%>- <%= v.stepDetails%></li>
                            <% }) %>
                        <% }) %>
                    </ul>
                </div>
  
    
            </section>
            <button class="like-btn">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z">
                </svg>
            </button>
        </div>
    </div>



    <%- include('./footer') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        var saltShaker = document.getElementById('saltShaker');
        var salt = document.getElementById('salt');

        var wheatL = document.getElementById('wheatL');
        var wheatR = document.getElementById('wheatR');

        window.addEventListener('scroll', rolling);
        function rolling() {
            let pos = 243;

            saltShaker.style.transform = 'rotate(' + (window.pageYOffset * -0.1) + 'deg)';

            wheatL.style.transform = 'rotate(' + (window.pageYOffset * -0.05) + 'deg)';
            wheatR.style.transform = 'rotate(' + (window.pageYOffset * 0.05) + 'deg)';

            if (window.pageYOffset > 1580) {

                var id = setInterval(frame, 10);
                function frame() {

                    if (pos == 295) {
                        clearInterval(id);
                    } else {
                        pos++;
                        salt.style.top = pos + '%';
                    }
                }
            }


        }




        function uncheckAll() {
            $('input[type="checkbox"]:checked').prop('checked', false);
        }

    </script>
  
    <script src="../../../public/js/loading.js"></script>
    <script src="../../../public/js/app.js"></script>
</body>

</html>