<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <header></header>
    <main>

        <% recipeResults.forEach(recipe=>{ %>

            <div>
                <img src="<%=recipe.image%>" alt="">
                <h3><%=recipe.title%></h3>

                <form action="/details" method="POST">
                    <input name="titleMatch" id="query" type="text" value="<%=recipe.title%>">
                    <button type="submit">Submit</button>
                </form>
            </div>
            
        <% }) %>

        <form action="/search_name" method="POST">

            <input name="query" id="query" value="<%=nioh.searchVar%>" style="display: none;">
            <br>
            <input name="page" id="page" value="<%=nioh.page%>" style="display: none;">
            <br>
            <input name="includeIngredients" id="includeIngredients" value="<%=nioh.ining%>" style="display: none;">
            <br>
            <input name="excludeIngredients" id="excludeIngredients" value="<%=nioh.excing%>" style="display: none;">
            <br>
            <input name="diet" id="diet" value="<%=nioh.diet%>" style="display: none;">
            <br>
            <input name="cuisine" id="cuisine" value="<%=nioh.cuisine%>" style="display: none;">
            <br>
            <button type="submit">Submit</button>
        </form>
        <p><%=nioh3.page%></p>
        <form action="/search_name" method="POST">

            <input name="query" id="query" value="<%=nioh2.searchVar%>" style="display: none;">
            <br>
            <input name="page" id="page" value="<%=nioh2.page%>" style="display: none;">
            <br>
            <input name="includeIngredients" id="includeIngredients" value="<%=nioh2.ining%>" style="display: none;">
            <br>
            <input name="excludeIngredients" id="excludeIngredients" value="<%=nioh2.excing%>" style="display: none;">
            <br>
            <input name="diet" id="diet" value="<%=nioh2.diet%>" style="display: none;">
            <br>
            <input name="cuisine" id="cuisine" value="<%=nioh2.cuisine%>" style="display: none;">
            <br>
            <button type="submit">Submit</button>
        </form>


    </main>
    <footer></footer>
</body>

</html>