<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <header></header>
    <main>

        <% recipeResults.forEach(recipe=>{ %>
  
        <div>
            <img src="<%=recipe[0].image%>" alt="">
            <h3><%=recipe[0].title%></h3>

            <form action="/details" method="POST" style="width: 100%; height: 100%;">
                <input name="titleMatch" id="query" type="text" value="<%=recipe[0].title%> " style="display: none;">
                <button type="submit">Submit</button>
            </form>

        </div>

        <form class="hide-form" action="/favorite" method="post">
            <input name="title" type="text" value="<%= recipe[0].title %>" style="display: none;" />
            <input name="readyInMinutes" type="text" value="<%=  recipe[0].readyInMinutes %>" style="display: none;" />
            <input name="image" type="text" value="<%= recipe[0].image %>" style="display: none;" />
            <input name="summary" type="text" value="<%= recipe[0].summary %>" style="display: none;" />
            <% recipe[1].forEach(v=>{ %>
                <% v.forEach(w=>{ %>
            <input name="stepDetails" type="text" value=" <%= w.stepDetails %>" style="display: none;" />
            <% }) %>
            <% }) %>

            <div><button id="/favorite/<%=recipe[0].id%>" type="submit">Add To Favorite</button></div>

        </form>

        <% }) %>




        <p id="checknext"> </p>
        <form action="/search_name" method="POST">

            <input name="query" value="<%=nioh.searchVar%>" style="display: none;">
            <br>
            <input name="page" value="<%=nioh.page%>" style="display: none;">
            <br>
            <input name="includeIngredients" value="<%=nioh.ining%>" style="display: none;">
            <br>
            <input name="excludeIngredients" value="<%=nioh.excing%>" style="display: none;">
            <br>
            <input name="diet" value="<%=nioh.diet%>" style="display: none;">
            <br>
            <input name="cuisine" value="<%=nioh.cuisine%>" style="display: none;">
            <br>
            <button type="submit">Submit</button>
        </form>
        <p id="currPage"><%=nioh3.page%></p>
        <form action="/search_name" method="POST">

            <input name="query" value="<%=nioh2.searchVar%>" style="display: none;">
            <br>
            <input name="page" value="<%=nioh2.page%>" style="display: none;">
            <br>
            <input name="includeIngredients" value="<%=nioh2.ining%>" style="display: none;">
            <br>
            <input name="excludeIngredients" value="<%=nioh2.excing%>" style="display: none;">
            <br>
            <input name="diet" value="<%=nioh2.diet%>" style="display: none;">
            <br>
            <input name="cuisine" value="<%=nioh2.cuisine%>" style="display: none;">
            <br>
            <button id="prevPage" type="submit">Submit</button>
        </form>


    </main>
    <footer></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            console.log("ready!");
            if (document.getElementById('currPage').textContent == 1) {
                document.getElementById('prevPage').style.display = 'none';
            }
            console.log(document.getElementById('currPage').textContent);
        });
    </script>
</body>

</html>