<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/show.css">

</head>

<body>

    
        <%- include('./header') %>
    
    <main>
<div id="card-container">
        <% recipeResults.forEach(recipe=>{ %>

        <div class="card">
            <img src="<%=recipe.image%>" alt="">
            <div class="card-body">
            <h3 class="showTitle"><%=recipe.title%></h3>
           </div>
            <form action="/details" method="POST" style="width: 100%; height: 100%;" >
                <input name="titleMatch" id="query" type="text" value="<%=recipe.title%> " style = "display: none;">
                <button id=""  type="submit" >Submit</button>
            </form>
        </div>
</div>
        <% }) %>

        <p id="checknext" > </p>
        <form action="/search_name" method="POST">

            <input name="query" value="<%=nioh.searchVar%>" style="display: none;">
            <br>
            <input name="page" value="<%=nioh.page%>" style="display: none;">
            <br>
            <input name="includeIngredients" value="<%=nioh.ining%>" style="display: none;">
            <br>
            <input name="excludeIngredients" value="<%=nioh.excing%>" style="display: none;">
            <br>
            <input name="diet" value="<%=nioh.diet%>" style="display: none;">
            <br>
            <input name="cuisine" value="<%=nioh.cuisine%>" style="display: none;">
            <br>
            <button type="submit">Submit</button>
        </form>
        <p id="currPage"><%=nioh3.page%></p>
        <form action="/search_name" method="POST">

            <input name="query" value="<%=nioh2.searchVar%>" style="display: none;">
            <br>
            <input name="page" value="<%=nioh2.page%>" style="display: none;">
            <br>
            <input name="includeIngredients" value="<%=nioh2.ining%>" style="display: none;">
            <br>
            <input name="excludeIngredients" value="<%=nioh2.excing%>" style="display: none;">
            <br>
            <input name="diet" value="<%=nioh2.diet%>" style="display: none;">
            <br>
            <input name="cuisine" value="<%=nioh2.cuisine%>" style="display: none;">
            <br>
            <button   id="prevPage" type="submit">Submit</button>
        </form>


    </main>
    <footer></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            console.log("ready!");
            if (document.getElementById('currPage').textContent == 1) {
                document.getElementById('prevPage').style.display = 'none';
            }
            console.log(document.getElementById('currPage').textContent);
        });
    </script>
</body>

</html>